input,
.help-block {
  font-family: Arial, sans-serif;
}

.text-bold {
  font-weight: bold;
}

.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.control-label {
  font-size: 16px;
}
@media (max-width: 450px), (max-height: 440px) {
  .control-label {
    font-size: 14px;
  }
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 30px;
  font-family: "UniversCondensed", Arial, sans-serif;
  font-weight: bold;
}

.side-by-side {
  display: flex; }

body {
  background: radial-gradient(circle, #c00, #900);
  background-size: cover;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.centered {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-self: center; }

.container {
  min-height: 100vh;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.central-circle {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  background-color: #fff;
  min-width: 450px;
  min-height: 450px; }
  @media (orientation: landscape) {
    .central-circle {
      width: 98vh;
      height: 98vh; } }
  @media screen and (orientation: portrait) {
    .central-circle {
      width: 98vw;
      height: 98vw; } }

.circle-header {
  padding: 0 8.5vw;
  margin: 1em 0 0.5em;
}
@media (max-width: 550px), (max-height: 440px) {
  .circle-header {
    font-size: 24px;
  }
}
@media (min-width: 720px) {
  .circle-header {
    padding: 0 30px 5px;
  }
}

.compact-header {
  margin-top: 0;
}

.dish-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** Last row needs 4.2px less visual spacing due to the line-height */
.last-dish-filters {
  margin-bottom: calc(1em - 4.2px);
}

.checkbox-inline {
  margin-left: 0px !important;
  width: 10em;
  min-width: 8em;
}

@media (max-width: 550px), (max-height: 440px) {
  .checkbox-inline {
    min-width: 0;
    width: auto;
    font-size: 12px;
  }
}

.help-block {
  margin: 0 0 0.5em 0;
}

.ts-control, .ts-dropdown {
  font-size: 14px;
}

.ts-control input {
  font-size: 14px;
}

.ts-dropdown .optgroup-header {
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
}

.circle-form {
  width: 75%;
  max-width: 45rem;
}

@media (max-width: 450px), (max-height: 440px) {
  .circle-form .form-group {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.extra-info {
  text-align: center;
  color: #737373;
  margin-top: 5px;
}
@media (max-width: 550px), (max-height: 440px) {
  .extra-info {
    font-size: 12px; } }
@media (max-width: 450px), (max-height: 440px) {
  .extra-info {
    font-size: 11px; } }

.alert {
  margin: 0 25px 10px;
  padding: 10px;
  font-size: 12px;
}

.alert-dismissable {
  padding-right: 20px;
}

.close {
  margin-right: 10px;
}

footer {
  background-color: #1b1515;
  box-shadow: inset 0 7px 9px -5px rgba(0, 0, 0, 0.4);
  height: 10vh;
  padding-left: 5px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
footer a {
  color: #999999;
}
footer a:hover {
  color: #fff;
}
footer .separator {
  height: 35px;
  margin: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.btn-block {
  margin: 1em 0;
}

.central-square {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  min-width: 310px;
  max-width: 700px;
  width: 95vw;
  padding: 15px;
  margin: 15px;
}

.label-info {
  background-color: #737373;
}
