#branding h1,
#branding h1 a:link,
#branding h1 a:visited {
  color: #fff; }

#header {
  background-image: radial-gradient(circle, #c00, #900);
  border-width: 0;
  color: #fff; }

#user-tools {
  color: #fff;
  font-size: 12px;
  font-weight: 500; }

.module caption {
  background: #900; }

div.breadcrumbs {
  background-image: radial-gradient(circle, #c00, #900);
  border-top: 1px solid rgba(255, 255, 255, 0.2); }

a:link,
a:visited {
  color: #c00; }

.module h2,
.module caption,
.inline-group h2 {
  background-color: #c00; }

input[type=submit],
input[type=submit].default,
input[type=button] {
  background: #1b1515; }
  input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus,
  input[type=submit].default:hover,
  input[type=submit].default:active,
  input[type=submit].default:focus,
  input[type=button]:hover,
  input[type=button]:active,
  input[type=button]:focus {
    background: #000; }

/*# sourceMappingURL=admin.css.map */
