input,
.help-block {
  font-family: Arial, sans-serif; }

.text-bold {
  font-weight: bold; }

.justify-content-between {
  display: flex;
  justify-content: space-between; }

.control-label {
  font-size: 16px; }
  @media (max-width: 450px), (max-height: 440px) {
    .control-label {
      font-size: 14px; } }

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.2); }

.side-by-side {
  display: flex; }

body {
  background: radial-gradient(circle, #c00, #900);
  background-size: cover;
  margin: 0;
  padding: 0; }

.centered {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-self: center; }

.container {
  min-height: 100vh;
  margin-bottom: 10px; }

.central-circle {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  background-color: #fff;
  min-width: 350px;
  min-height: 350px; }
  @media (orientation: landscape) {
    .central-circle {
      width: 98vh;
      height: 98vh; } }
  @media screen and (orientation: portrait) {
    .central-circle {
      width: 98vw;
      height: 98vw; } }

.circle-header {
  padding: 0 8.5vw;
  margin: 12px 0 5px; }
  @media (max-width: 550px), (max-height: 440px) {
    .circle-header {
      font-size: 18px; } }
  @media (min-width: 720px) {
    .circle-header {
      padding: 0 30px 5px; } }

.compact-header {
  margin-top: 0; }

.help-block {
  margin: 0; }

.circle-form {
  width: 70%; }
  @media (max-width: 550px), (max-height: 440px) {
    .circle-form .form-group {
      font-size: 12px; } }
  @media (max-width: 450px), (max-height: 440px) {
    .circle-form .form-group {
      font-size: 11px;
      margin-bottom: 8px; } }
  @media (max-width: 450px) {
    .circle-form .form-control {
      font-size: 11px;
      height: 30px; } }
  .circle-form .btn {
    line-height: 1.4; }

.extra-info {
  text-align: center;
  color: #737373;
  margin-top: 5px; }
  @media (max-width: 550px), (max-height: 440px) {
    .extra-info {
      font-size: 12px; } }
  @media (max-width: 450px), (max-height: 440px) {
    .extra-info {
      font-size: 11px; } }

.alert {
  margin: 0 25px 10px;
  padding: 10px;
  font-size: 12px; }

.alert-dismissable {
  padding-right: 20px; }

.close {
  margin-right: 10px; }

footer {
  background-color: #1b1515;
  box-shadow: inset 0 7px 9px -5px rgba(0, 0, 0, 0.4);
  height: 10vh;
  padding-left: 5px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row; }
  footer a {
    color: #999999; }
    footer a:hover {
      color: #fff; }
  footer .separator {
    height: 35px;
    margin: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.4); }

.central-square {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  min-width: 310px;
  max-width: 700px;
  width: 95vw;
  padding: 15px;
  margin: 15px; }

.prefs-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px; }

.label-info {
  background-color: #737373; }

.save-button {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transition: all 500ms ease; }

.faded-in {
  opacity: 1; }

.login-header {
  padding: 0 8.5vw;
  margin: 0 0 5px; }
  @media (max-width: 550px), (max-height: 440px) {
    .login-header {
      font-size: 18px; } }
  @media (min-width: 720px) {
    .login-header {
      padding: 0 30px 5px; } }

#code-receiver {
  margin-top: 15px; }

@keyframes pulse {
  50% {
    background: #636363; }
  75% {
    background: rgba(99, 99, 99, 0.2); } }
.loading-pulse {
  margin: 0 15px;
  position: relative;
  width: 6px;
  height: 24px;
  background: rgba(99, 99, 99, 0.2);
  animation: pulse 900ms infinite;
  animation-delay: 300ms; }
  .loading-pulse::before, .loading-pulse::after {
    content: '';
    position: absolute;
    display: block;
    height: 16px;
    width: 6px;
    background: rgba(99, 99, 99, 0.2);
    top: 50%;
    transform: translateY(-50%);
    animation: pulse 900ms infinite; }
  .loading-pulse::before {
    left: -12px; }
  .loading-pulse::after {
    left: 12px;
    animation-delay: 600ms; }

.chart rect {
  text-align: right;
  color: #fff;
  shape-rendering: crispEdges; }
.chart text {
  fill: #fff;
  font: 11px UniversRoman,Arial,sans-serif;
  text-anchor: middle; }
.chart .breakfast > g > rect {
  fill: #660000; }
  .chart .breakfast > g > rect:hover {
    fill: #570000; }
.chart .lunch > g > rect {
  fill: #b30000; }
  .chart .lunch > g > rect:hover {
    fill: #a30000; }
.chart .dinner > g > rect {
  fill: #ff3333; }
  .chart .dinner > g > rect:hover {
    fill: #ff2424; }
.chart .other > g > rect {
  fill: #ff6666; }
  .chart .other > g > rect:hover {
    fill: #ff5757; }

.axis text {
  fill: #737373;
  font: 11px UniversRoman,Arial,sans-serif; }

.yaxis text {
  text-anchor: end; }

.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 12px; }
  .legend div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .legend .breakfast > div {
    background-color: #660000;
    width: 12px;
    height: 12px;
    margin-right: 2px; }
  .legend .lunch > div {
    background-color: #b30000;
    width: 12px;
    height: 12px;
    margin-right: 2px; }
  .legend .dinner > div {
    background-color: #ff3333;
    width: 12px;
    height: 12px;
    margin-right: 2px; }
  .legend .other > div {
    background-color: #ff6666;
    width: 12px;
    height: 12px;
    margin-right: 2px; }

/*# sourceMappingURL=all.css.map */
