{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<div class="container centered">
    <div class="central-square">
        <div class="prefs-header">
            <h3 class="compact-header">About</h3>
            {% if request.user.is_authenticated %}
            <a class="label label-info text-right" href="{% url 'prefs' %}">Logged in as: {{user}}</a>
            {% else %}
            <a class="label label-info text-right" href="{% url 'home' %}">Log in or sign up</a>
            {% endif %}
        </div>
        <div>
            <h4 class="text-bold">What is it?</h4>
                <div class="centered">
                  <p>
                      The NCSU Menu Notifier is a web app that will automatically text you
                      when your favorite foods are being served any NCSU dining hall. Like this:
                  </p>
                  <img class="img-responsive" src="{% static 'phone_screenshot_cropped.png' %}" alt="Screenshot of a text message">
                </div>
            <br/>
            <h4 class="text-bold">What else can it do?</h4>
            <p>
              It can help you <a href="{% url 'calorie_graph' %}">track your calorie intake</a> whenever you eat at
              a dining hall. In just a few clicks, you can pick which dishes you ate and have the total number of
              calories graphed for you!
            </p>
            <br/>
            <div class="centered">
              <img class="img-responsive" src="{% static 'calorie_graph_screenshot.png' %}" alt="Screenshot of the calorie graph">
            </div>
            <br/>
            <h4 class="text-bold">How do I use it?</h4>
                <p>
                    <span class="text-bold">First time users:</span> On the <a href="{% url 'home' %}">home page</a>,
                    put in your 10-digit phone number (no parentheses or dashes required) and pick your favorite
                    dish from the dropdown. You will be sent a text to verify your phone number.
                    You can add more dishes and fine-tune your notifications on the <a href="{% url 'prefs' %}">preferences page</a>.
                </p>
                <p>
                    <span class="text-bold">Returning users:</span> You can access your account preferences <a href="{% url 'prefs' %}">here</a>.
                    There, you can change which meals and which dining halls you want to be notified about.
                    You can also add and remove multiple dishes to your account.
                </p>
            <br/>
            <h4 class="text-bold">How does it work under the hood?</h4>
                <p>
                    This website uses the <a href="https://www.djangoproject.com/">Django Web Framework</a>,
                    a popular Python framework for websites used by Pinterest, Instagram, and many others.
                </p>
                <p>
                    The menu is updated every day by using a custom Python web scraper
                    and a package called <a href="https://pypi.python.org/pypi/beautifulsoup4">beautifulsoup</a>.
                    Each dish is then saved in a PostgreSQL database.
                </p>
                <p>
                    Text messages are sent by using <a href="https://www.twilio.com/">Twilio's</a> API,
                    which is the same API used by Uber to programmatically send text messages.
                </p>
                <p>
                  The site and the database is hosted on <a href="https://www.heroku.com/platform">Heroku</a>,
                  and the code repository is hosted on <a href="https://about.gitlab.com/">GitLab</a>. GitLab also
                  provides a <a href="https://en.wikipedia.org/wiki/Continuous_integration">continuous integration</a>
                  server for this site.
                </p>
            <br/>
            <h4 class="text-bold">How do I stop receiving texts?</h4>
                <p>
                  If you text "STOP" to this site's phone number, then you will no longer receive any messages
                  from ncsu-mn. The next time ncsu-mn would normally send you a text, your phone number and associated data will be purged from the database.
                  You can resume by sending "START" and signing up again.
                </p>
                <p>
                  If you just want to temporarily stop receiving texts, you can just remove all
                  the menu items from your <a href="{% url 'prefs' %}">preferences page</a>.
                </p>
            <br/>
            <h4 class="text-bold">What text commands can I send to ncsu-mn?</h4>
                <p>You can reply to ncsu-mn's phone number with any of the following (case-insensitive) commands:</p>
                <ul>
                    <li>STOP: Stop receiving messages and purge your data from ncsu-mn.</li>
                    <li>START: Allows ncsu-mn to send you messages again after sending "STOP". You may have to sign up again.</li>
                    <li>DEMO: Sends an example text which includes all the menu items and dining halls you've enabled.</li>
                    <li>LOGIN: Sends a "magic link" which you can click to instantly log in to the ncsu-mn website.</li>
                </ul>
        </div>
    </div>
</div>
{% endblock %}
