<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{{view.title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#cc0000">
    <meta name="description" content="Get notified when your favorite foods are being served at the NCSU dining hall." />
    <title>NCSU Menu Notifier</title>
    <!-- Progressive Web App Manifest -->
    <link rel="manifest" href="/manifest.json">
    <!-- jQuery and jQuery plugins -->
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'select2/select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'select2/select2.min.css' %}">

    <!-- NCSU Bootstrap JS -->
    <script src="https://cdn.ncsu.edu/brand-assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- NCSU Bootstrap CSS -->
    <link href="https://cdn.ncsu.edu/brand-assets/bootstrap/css/bootstrap.css"
    rel="stylesheet" media="screen" type="text/css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'custom/stylesheets/all.css' %}"/>

    <!-- Favicon -->
    <link rel="shortcut icon"
      type="image/x-icon"
      src="{% static 'favicon.ico' %}"/>


</head>
<script>
// Create a Service Worker to run in the background of progressive web apps
if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register("{% static 'custom/serviceWorker.js' %}").then(function(registration) {
    }).catch(function(err) {
      console.log('ServiceWorker registration failed: ', err);
    });
  });
}
</script>
<body>
{% block content %}
{% endblock %}
</body>
<footer>
{% include "footer.html" %}
</footer>
</html>
