{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load render_changelog %}
{% block content %}

<div class="container centered">
  <div class="central-square">
    <div style="float: right;">
      {% if request.user.is_authenticated %}
      <a class="label label-info text-right" href="{% url 'prefs' %}">Logged in as: {{user}}</a>
      {% else %}
      <a class="label label-info text-right" href="{% url 'home' %}">Log in or sign up</a>
      {% endif %}
    </div>
    {% render_changelog %}
  </div>
</div>

{% endblock %}
