{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="container centered">
    <div class="central-circle centered">
        <div class="circle-div centered">
            <h3 class="text-center compact-header">
                Confirm
            </h3>
            {% bootstrap_messages %}
            <p class="text-center">
                We sent a text to your phone number.
            </p>
            <p class="text-center">
                Please confirm your identity
            </p>
            <p class="text-center">
                by replying to that text.
            </p>
            <br/>
            <p class="text-center text-muted">
                After confirming, you can <a href="{% url 'login' %}">log in</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
