<a class="text-center" href="{% url 'about' %}">About</a>
<div class="separator"></div>
<a class="text-center" href="{% url 'changelog' %}">Change Log</a>
<div class="separator"></div>
<a class="text-center" href="https://gitlab.com/mac-chaffee/ncsu-menu-notifier">See the Code</a>
<div class="separator"></div>
<a class="text-center" href="mailto:bugs@ncsu-mn.com?subject=Bug Report">Report a Bug</a>
