{% extends 'base.html' %}
{% load bootstrap3 %}
{% load cache %}
{% block content %}

<div class="container centered">
    <div class="central-circle centered">
        <h3 class="text-center circle-header">
            Free NCSU Menu Notifications
        </h3>
        {% bootstrap_messages %}
        {% bootstrap_form_errors form %}
        <div class="circle-form">
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% bootstrap_field form.phone_number %}
                {# Cache only this snippet for 2 hours for performance #}
                {% cache 7200 favorite_dish %}
                    {% bootstrap_field form.favorite_dish %}
                {% endcache %}
                {% bootstrap_button "Sign me up!" button_type="submit" button_class="btn-primary btn-block" %}
            </form>
        </div>
        <div class="extra-info">
            {% if request.user.is_authenticated %}
            You already logged in as {{user}} <br/>Click <a href="{% url 'prefs' %}">here</a> to manage your account.
            {% else %}
            Been here before? <a href="/login">Log in</a>
            {% endif %}
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#id_favorite_dish').select2();
});
</script>
{% endblock %}
