{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}

<div class="container centered">
    <div class="central-circle centered">
        <h3 class="text-center login-header">
            Login
        </h3>
        {% bootstrap_messages %}
        {% bootstrap_form_errors form %}
        <!-- Form goes here -->
        <div class="circle-form">
            <form id="login-form" action="" method="POST">
                {% csrf_token %}
                {% bootstrap_field form.username show_label=False %}
                <div class="centered">
                  <button id="send-code" class="btn btn-primary btn-block" type="submit"
                          data-toggle="collapse" data-target="#code-receiver">Send code</button>
                </div>
                <div id="code-receiver" class="collapse">
                    {% bootstrap_field form.password show_label=False %}
                    {% bootstrap_button "Verify" button_type="submit" button_class="btn-primary btn-block" %}
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>

<script src="{% static 'custom/login.js' %}"></script>
{% endblock %}
