{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load cache %}
{% block content %}
<div class="container centered">
  <div class="central-square">

    <div class="prefs-header">
      <h3 class="compact-header">Preferences</h3>
      <a class="label label-info text-right" href="{% url 'notifierusers' phone_number=user %}">Logged in as: {{user}}</a>
      {% bootstrap_messages %}
      {% bootstrap_form_errors form %}
    </div>
    <label class="control-label">Your favorite foods</label>
    <form id="prefs-form" action="" method="POST">
      {% csrf_token %}
      <ul class="list-group">
        {% for food in fav_foods %}
          <li id="food-item-{{food.id}}" class="list-group-item justify-content-between">
            {{food.name}}
            <button data-id="{{food.id}}" class="btn btn-danger btn-xs del-dish-button" type="button">Remove</button>
          </li>
        {% endfor %}
        {% if not fav_foods %}
        <li class="list-group-item">
          You don't have any. You can add new favorite foods below.
        </li>
        {% endif %}

        <li class="list-group-item">
          {# Cache only this snippet since the rest of the page is dynamic and non-compute-intensive #}
          {% cache 86400 add_dish_prefs %}
            {% bootstrap_field form.add_dish %}
          {% endcache %}
          <div id="save-button-add" class="save-button">
            <button class="btn btn-info">Save</button>
          </div>
        </li>
      </ul>

      {% bootstrap_field form.locations %}
      <div id="save-button-locations" class="save-button">
        <button class="btn btn-info">Save</button>
      </div>

      {% bootstrap_field form.meals %}
      <div id="save-button-meals" class="save-button">
        <button class="btn btn-info">Save</button>
      </div>

      <label class="control-label">Other settings</label>
      {% bootstrap_field form.cares_about_summer %}
      {% bootstrap_field form.wants_updates %}
      <div id="save-button-updates" class="save-button">
        <button class="btn btn-info">Save</button>
      </div>
    </form>
    <div class="centered">
      <a class="btn btn-primary" href="{% url 'calorie_graph' %}">Calorie Counter</a>
    </div>
  </div>
</div>
<script src="{% static 'custom/prefs.js' %}"></script>
<script>
// Add the CSRF token to the ajax headers
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
  }
});

// Make AJAX calls to the NotifierUser API view to delete dishes when the buttons are clicked
$(".del-dish-button").click( function() {
  var food_to_delete = $(this).data("id");
  var patch_data = {"op": "remove", "id": food_to_delete};
  // Change the button to a loading icon
  $(this).replaceWith("<div class='loading-pulse'></div>");
  $.ajax({
    url: "{% url 'notifierusers' phone_number=request.user.username %}",
    type: "PATCH",
    data: patch_data,
    success: function(response) {
      // Remove that row of the table
      $(`#food-item-${food_to_delete}`).remove();
    },
  });
});

// Add the ability to search for dishes
$(document).ready(function() {
    $('#id_add_dish').select2();
});

</script>
{% endblock %}
