{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<script>
// Pass some JSON to calorie_form.js for displaying calories and serving size
var calorieData = JSON.parse('{{ calorie_data | escapejs }}');
</script>
<div class="container centered">
    <div class="central-square">
        <div class="prefs-header">
            <h3 class="compact-header">The NCSU-MN Calorie Counter</h3>
            <a class="label label-info text-right" href="{% url 'prefs' %}">Logged in as: {{user}}</a>
        </div>
        {% bootstrap_messages %}
        {% bootstrap_form_errors form error_types='all' %}
        <form class="calorie_form" action="" method="post">
          {% csrf_token %}
          {% bootstrap_field form.pick_meal %}
          {% bootstrap_field form.pick_location %}

          <div id="Case" class="dish-select" style="display: none;">
            <div class="form-group">
              <label class="control-label">{{form.case_dishes.label}}</label>
              <div id="id_case_dishes">
                {% for dish in form.case_dishes %}
                  <div class="checkbox">
                    {{dish}}
                  </div>
                  <div id="servings_div_for_{{dish.id_for_label}}" class="serving-block" data-id="{{dish.data.value}}" style="display: none;">
                    <label class="control-label">Servings</label>
                    <br/>
                    <input id="servings_of_{{dish.id_for_label}}" class="serving-input" data-location="case" type="number">
                    <br/>
                  </div>
                {% endfor %}
              </div>
              <div class="help-block">{{form.clark_dishes.help_text}}</div>
            </div>
          </div>

          <div id="Clark" class="dish-select" style="display: none;">
            <div class="form-group">
              <label class="control-label">{{form.clark_dishes.label}}</label>
              <div id="id_clark_dishes">
                {% for dish in form.clark_dishes %}
                  <div class="checkbox">
                    {{dish}}
                  </div>
                  <div id="servings_div_for_{{dish.id_for_label}}" data-id="{{dish.data.value}}" class="serving-block" style="display: none;">
                    <label class="control-label">Servings</label>
                    <br/>
                    <input id="servings_of_{{dish.id_for_label}}" class="serving-input" data-location="clark" type="number">
                    <br/>
                  </div>
                {% endfor %}
              </div>
              <div class="help-block">{{form.clark_dishes.help_text}}</div>
            </div>
          </div>

          <div id="Fountain" class="dish-select" style="display: none;">
            <div class="form-group">
              <label class="control-label">{{form.fountain_dishes.label}}</label>
              <div id="id_fountain_dishes">
                {% for dish in form.fountain_dishes %}
                  <div class="checkbox">
                    {{dish}}
                  </div>
                  <div id="servings_div_for_{{dish.id_for_label}}" class="serving-block" data-id="{{dish.data.value}}" style="display: none;">
                    <label class="control-label">Servings</label>
                    <br/>
                    <input id="servings_of_{{dish.id_for_label}}" class="serving-input" data-location="fountain" type="number">
                    <br/>
                  </div>
                {% endfor %}
              </div>
              <div class="help-block">{{form.fountain_dishes.help_text}}</div>
            </div>
          </div>

          <div id="Offset" class="dish-select" style="display: none;">
            {% bootstrap_field form.offset %}
          </div>
          <button class="btn btn-primary btn-block">Save</button>
        </form>
    </div>
</div>
<script src="{% static 'calorie_form.js' %}"></script>
{% endblock %}
