{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<div class="container centered">
    <div class="central-square">
        <div class="prefs-header">
            <h3 class="compact-header">The NCSU-MN Calorie Counter</h3>
            <a class="label label-info text-right" href="{% url 'prefs' %}">Logged in as: {{user}}</a>
        </div>
        <div class="legend">
          <div class="breakfast">
            <div></div>Breakfast
          </div>

          <div class="lunch">
            <div></div>Lunch
          </div>

          <div class="dinner">
            <div></div>Dinner
          </div>

          <div class="other">
            <div></div>Other
          </div>
        </div>
        <div class="chart-wrapper">
          <svg class="chart">
            <!--Filled in by d3.js-->
          </svg>
        </div>
        <a class="btn btn-primary btn-block" href="{% url 'calorie_form' %}">Enter calorie data</a>
    </div>
</div>
<script src="{% static 'd3.min.js' %}"></script>
<script src="{% static 'calorie_graph.js' %}"></script>
<script>
$.ajax({
  url: "{% url 'calorie_graph_api' %}",
  success: function(payload) {
    generate_graph(payload.data, payload.x_min, payload.x_max, payload.y_max);
  },
})
</script>
{% endblock %}
