{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<div class="container centered">
    <div class="central-square">
        <div class="prefs-header">
            <h3 class="compact-header">The NCSU-MN Calorie Counter</h3>
            {% if request.user.is_authenticated %}
            <a class="label label-info text-right" href="{% url 'prefs' %}">Logged in as: {{user}}</a>
            {% else %}
            <a class="label label-info text-right" href="{% url 'home' %}">Log in or sign up</a>
            {% endif %}
        </div>
        <p>
          If you eat at the NCSU dining halls, NCSU-MN can help you keep track
          of your calorie intake. After eating, we'll text you a link containing a simple
          form. You'll pick which dishes you ate for that meal and you'll get immediate feedback.
        </p>
        <p>
          Here's what it looks like:
        </p>
        <div class="centered">
          <img class="img-responsive" src="{% static 'phone_screenshot_cropped.png' %}" alt="Screenshot of a text message">
        </div>
        {% if request.user.is_authenticated %}
          <a class="btn btn-primary btn-block" href="{% url 'calorie_graph' %}">Take me to the calorie counter!</a>
        {% else %}
        <p>
          You must first <a href="{% url 'login' %}">log in</a> or <a href="{% url 'home' %}">sign up</a>
          to NCSU-MN before you can use the calorie counter.
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
