<div class="dining-menu-item-modal-title">
    <div>
        <h3>Shredded Hash Browns</h3></div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="menu-dining-menu-modal-nutrition">
            <h4>Nutrition Facts</h4>

        </div>
    </div>
    <div class="col-sm-6">

    </div>
</div>
