<div class="dining-menu-item-modal-title">
    <div>
        <h3>Breaded Chicken Breast</h3></div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="menu-dining-menu-modal-nutrition">
            <h4>Nutrition Facts</h4>
            <div class="menu-nutrition-row"><strong>Serving Size:</strong> <span class="menu-nutrition-row-value">Each</span></div>
            <div class="menu-nutrition-row"><strong>Calories</strong> <span class="menu-nutrition-row-value">263.2</span></div>
            <div class="menu-nutrition-row"><strong>Protein</strong> <span class="menu-nutrition-row-value">15.2</span></div>
            <div class="menu-nutrition-row"><strong>Total Carbohydrate</strong> <span class="menu-nutrition-row-value">17.2</span></div>
            <div class="menu-nutrition-row"><strong>Total Fat</strong> <span class="menu-nutrition-row-value">15.2</span></div>
            <div class="menu-nutrition-row"><strong>Saturated Fat</strong> <span class="menu-nutrition-row-value">2.5</span></div>
            <div class="menu-nutrition-row"><strong>Trans Fat</strong> <span class="menu-nutrition-row-value">0</span></div>
            <div class="menu-nutrition-row"><strong>Fiber</strong> <span class="menu-nutrition-row-value">1</span></div>
            <div class="menu-nutrition-row"><strong>Sodium</strong> <span class="menu-nutrition-row-value">658.1</span></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="dining-menu-item-allergens"><span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span><span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
            <span
                class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
        </div>
        <div class="dining-menu-allergen-contains">Contains Gluten, Egg, and Soy</div>
        <div class="menu-dining-menu-modal-ingredients"><strong>Ingredients:</strong> BONELESS, SKINLESS, CHICKEN BREAST FILETS WITH RIB MEAT CONTAINING: UP TO 18% OF A SOLUTION OF WATER, SEASONING [CHICKEN BROTH POWDER (CHICKEN BROTH, SALT, FLAVORINGS), SALT, SUGAR, VEGETABLE STOCK (CARROT, ONION,
            CELERY), MALTODEXTRIN, GARLIC POWDER, AND FLAVORS], MODIFIED FOOD STARCH, SODIUM PHOSPHATES, SOY PROTEIN CONCENTRATE. BREADED WITH: WHEAT FLOUR, WATER, SALT, WHEAT GLUTEN, LEAVENING (SODIUM BICARBONATE, SODIUM ALUMINUM PHOSPHATE, MONOCALCIUM
            PHOSPHATE, SODIUM ACID PYROPHOSPHATE), SPICES, GARLIC POWDER, ONION POWDER, DISODIUM INOSINATE AND DISODIUM GUANYLATE, NATURAL FLAVOR. BREADING SET IN VEGETABLE OIL. </div>
    </div>
</div>
