<div class="dining-menu-item-modal-title">
    <div>
        <h3>Grilled Sesame Chicken</h3></div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="menu-dining-menu-modal-nutrition">
            <h4>Nutrition Facts</h4>
            <div class="menu-nutrition-row"><strong>Serving Size:</strong> <span class="menu-nutrition-row-value">SERVING(1ea)</span></div>
            <div class="menu-nutrition-row"><strong>Calories</strong> <span class="menu-nutrition-row-value">233.4</span></div>
            <div class="menu-nutrition-row"><strong>Protein</strong> <span class="menu-nutrition-row-value">30.4</span></div>
            <div class="menu-nutrition-row"><strong>Total Carbohydrate</strong> <span class="menu-nutrition-row-value">9.6</span></div>
            <div class="menu-nutrition-row"><strong>Total Fat</strong> <span class="menu-nutrition-row-value">4.6</span></div>
            <div class="menu-nutrition-row"><strong>Saturated Fat</strong> <span class="menu-nutrition-row-value">1.4</span></div>
            <div class="menu-nutrition-row"><strong>Trans Fat</strong> <span class="menu-nutrition-row-value">0</span></div>
            <div class="menu-nutrition-row"><strong>Fiber</strong> <span class="menu-nutrition-row-value">0</span></div>
            <div class="menu-nutrition-row"><strong>Sodium</strong> <span class="menu-nutrition-row-value">345.4</span></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="dining-menu-item-allergens"><span class="dining-menu-dietary-icon" data-diet="wolf_approved_trait"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span><span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
            <span
                class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
        </div>
        <div class="dining-menu-allergen-contains">Contains Gluten and Soy</div>
        <div class="dining-menu-allergen-contains dining-menu-allergen-contains-traits">Wolf Approved</div>
        <div class="menu-dining-menu-modal-ingredients"><strong>Ingredients:</strong> Chicken Breast (CHICKEN. MAY CONTAIN UP TO 4% RETAINED WATER.), Sesame Dressing (SUGAR, WATER, VEGETABLE OIL (SOYBEAN AND/OR CANOLA),SOY SAUCE (WATER, WHEAT, SOYBEANS, SALT), PEACH JUICE CONCENTRATE, MODIFIED FOOD
            STARCH, CONTAINS LESS THAN 2% OF: SALT, VINEGAR, NATURAL FLAVOR, SESAME SEED, SESAME OIL, LEMON JUICE CONCENTRATE, GARLIC, CARAMEL COLOR, SPICES, GUAR GUM, PAPRIKA, CALCIUM DISODIUM EDTA TO PROTECT FLAVOR.), Green Onion , Pan Spray (CANOLA
            OIL, CAPRIC/CAPRYLIC TRIGLYCERIDES, PHOSPHATED MONO AND DIGLYCERIDES, CALCIUM STEARATE, SILICONE DIOXIDE AND PROPELLANT (NON-CHLOROFLUORCARBON).), Sesame Seeds</div>
    </div>
</div>
