<div class="dining-menu-item-modal-title">
    <div>
        <h3>Quiche Lorraine</h3></div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="menu-dining-menu-modal-nutrition">
            <h4>Nutrition Facts</h4>
            <div class="menu-nutrition-row"><strong>Serving Size:</strong> <span class="menu-nutrition-row-value">SERVING (1 cup)</span></div>
            <div class="menu-nutrition-row"><strong>Calories</strong> <span class="menu-nutrition-row-value">384.5</span></div>
            <div class="menu-nutrition-row"><strong>Protein</strong> <span class="menu-nutrition-row-value">24.3</span></div>
            <div class="menu-nutrition-row"><strong>Total Carbohydrate</strong> <span class="menu-nutrition-row-value">10</span></div>
            <div class="menu-nutrition-row"><strong>Total Fat</strong> <span class="menu-nutrition-row-value">27</span></div>
            <div class="menu-nutrition-row"><strong>Saturated Fat</strong> <span class="menu-nutrition-row-value">11.2</span></div>
            <div class="menu-nutrition-row"><strong>Trans Fat</strong> <span class="menu-nutrition-row-value">0.1</span></div>
            <div class="menu-nutrition-row"><strong>Fiber</strong> <span class="menu-nutrition-row-value">0.3</span></div>
            <div class="menu-nutrition-row"><strong>Sodium</strong> <span class="menu-nutrition-row-value">792.6</span></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="dining-menu-item-allergens"><span class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
            <span
                class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
        </div>
        <div class="dining-menu-allergen-contains">Contains Dairy, Egg, and Soy</div>
        <div class="menu-dining-menu-modal-ingredients"><strong>Ingredients:</strong> Quiche (Eggs, Whey, Cream, Skim Milk, Powdered Whey, Powdered Baker\'s Cheese, Salt, Carrageenan, Carbohydrate Gum, Natural Flavor, Lactic Acid, Xanthan Gum, Guar Gum, Parsley, Spice, Locust Bean Gum, Soy Lecithin.
            ), Eggs (WHOLE EGGS, CITRIC ACID, 0.15% WATER ADDED AS CARRIER FOR CITRIC ACID. CITRIC ACID ADDED TO PRESERVE COLOR.), Low Fat Swiss Cheese (PART-SKIM MILK, WATER, SALT, SODIUM-PHOSPHATE, SODIUM CITRATE, SORBIC ACID, MILKFAT, ENZYMES, CHEESE
            CULTURE ), Yellow Onion, Bacon Bits (BACON CURED WITH: WATER, SALT, SODIUM NITRITE, SUGAR, BROWN SUGAR, SMOKE FLAVORING), Margarine (Liquid soybean oil, partially hydrogenated soybean oil, water, salt, soy lecithin, mono and diglycerides,
            potassium sorbate and citric acid added as preservatives, artificially flavored, colored with beta carotene, vitamin A palmitate added.), Pan Spray (CANOLA OIL, CAPRIC/CAPRYLIC TRIGLYCERIDES, PHOSPHATED MONO AND DIGLYCERIDES, CALCIUM STEARATE,
            SILICONE DIOXIDE AND PROPELLANT (NON-CHLOROFLUORCARBON).)</div>
    </div>
</div>
