<div class="dining-menu-item-modal-title">
    <div>
        <h3>Herb Baked Chicken</h3></div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="menu-dining-menu-modal-nutrition">
            <h4>Nutrition Facts</h4>
            <div class="menu-nutrition-row"><strong>Serving Size:</strong> <span class="menu-nutrition-row-value">SERVING (1 piece)</span></div>
            <div class="menu-nutrition-row"><strong>Calories</strong> <span class="menu-nutrition-row-value">366.7</span></div>
            <div class="menu-nutrition-row"><strong>Protein</strong> <span class="menu-nutrition-row-value">31.7</span></div>
            <div class="menu-nutrition-row"><strong>Total Carbohydrate</strong> <span class="menu-nutrition-row-value">0</span></div>
            <div class="menu-nutrition-row"><strong>Total Fat</strong> <span class="menu-nutrition-row-value">26.7</span></div>
            <div class="menu-nutrition-row"><strong>Saturated Fat</strong> <span class="menu-nutrition-row-value">7.5</span></div>
            <div class="menu-nutrition-row"><strong>Trans Fat</strong> <span class="menu-nutrition-row-value">0</span></div>
            <div class="menu-nutrition-row"><strong>Fiber</strong> <span class="menu-nutrition-row-value">0</span></div>
            <div class="menu-nutrition-row"><strong>Sodium</strong> <span class="menu-nutrition-row-value">283.3</span></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="dining-menu-item-allergens"></div>
        <div class="menu-dining-menu-modal-ingredients"><strong>Ingredients:</strong> Chicken (CHICKEN (Halal)), Salt-Free Mrs. Dash Spice (ONION, SPICES, (BLACK PEPPER, PARSLEY, CELERY SEED, BASIL, BAY, MARJORAM, OREGANO, SAVORY, THYME, CAYENNE PEPPER, CORIANDER, CUMIN, MUSTARD, ROSEMARY), GARLIC,
            CARROT, ORANGE PEEL, TOMATO, LEMON JUICE POWDER, CITRIC ACID, OIL OF LEMON. )</div>
    </div>
</div>
