<div class="dining-menu-item-modal-title">
    <div>
        <h3>Chili Con Carne</h3></div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="menu-dining-menu-modal-nutrition">
            <h4>Nutrition Facts</h4>
            <div class="menu-nutrition-row"><strong>Serving Size:</strong> <span class="menu-nutrition-row-value">SERVING</span></div>
            <div class="menu-nutrition-row"><strong>Calories</strong> <span class="menu-nutrition-row-value">202</span></div>
            <div class="menu-nutrition-row"><strong>Protein</strong> <span class="menu-nutrition-row-value">12.3</span></div>
            <div class="menu-nutrition-row"><strong>Total Carbohydrate</strong> <span class="menu-nutrition-row-value">15.8</span></div>
            <div class="menu-nutrition-row"><strong>Total Fat</strong> <span class="menu-nutrition-row-value">10.2</span></div>
            <div class="menu-nutrition-row"><strong>Saturated Fat</strong> <span class="menu-nutrition-row-value">3.3</span></div>
            <div class="menu-nutrition-row"><strong>Trans Fat</strong> <span class="menu-nutrition-row-value">0.5</span></div>
            <div class="menu-nutrition-row"><strong>Fiber</strong> <span class="menu-nutrition-row-value">4.4</span></div>
            <div class="menu-nutrition-row"><strong>Sodium</strong> <span class="menu-nutrition-row-value">770.1</span></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="dining-menu-item-allergens"></div>
        <div class="menu-dining-menu-modal-ingredients"><strong>Ingredients:</strong> Kidney Beans (DARK RED KIDNEY BEANS, WATER HIGH FRUCTOSE CORN SYRUP, SUGAR, SALT, CALCIUM CHLORIDE, DISODIUM EDTA (TO PRESERVE COLOR), NATURAL FALVORINGS.), Ground Beef (BEEF;), Water, Crushed Tomatoes (VINE-RIPENED
            UNPEELED TOMATOES, TOMATO PUREE, LESS THAN 2% OF: SALT, CITRIC ACID.), Tomato Paste, Yellow Onion, Canola Oil, Salt (SALT, SODIUM SILICOALUMINATE, DEXTROSE, POTASSIUM IODIDE), Chili Powder, Garlic Powder, Cumin, Paprika, Cayenne Pepper</div>
    </div>
</div>
