<div class="dining-menu-item-modal-title">
    <div>
        <h3>Crepe Station with FruitToppings</h3></div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="menu-dining-menu-modal-nutrition">
            <h4>Nutrition Facts</h4>
            <div class="menu-nutrition-row"><strong>Serving Size:</strong> <span class="menu-nutrition-row-value">CREPE</span></div>
            <div class="menu-nutrition-row"><strong>Calories</strong> <span class="menu-nutrition-row-value">174.1</span></div>
            <div class="menu-nutrition-row"><strong>Protein</strong> <span class="menu-nutrition-row-value">1.7</span></div>
            <div class="menu-nutrition-row"><strong>Total Carbohydrate</strong> <span class="menu-nutrition-row-value">23.3</span></div>
            <div class="menu-nutrition-row"><strong>Total Fat</strong> <span class="menu-nutrition-row-value">8</span></div>
            <div class="menu-nutrition-row"><strong>Saturated Fat</strong> <span class="menu-nutrition-row-value">4.1</span></div>
            <div class="menu-nutrition-row"><strong>Trans Fat</strong> <span class="menu-nutrition-row-value">0</span></div>
            <div class="menu-nutrition-row"><strong>Fiber</strong> <span class="menu-nutrition-row-value">1.2</span></div>
            <div class="menu-nutrition-row"><strong>Sodium</strong> <span class="menu-nutrition-row-value">39</span></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="dining-menu-item-allergens"><span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span><span class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span>
            <span
                class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span><span class="dining-menu-dietary-icon" data-diet="nuts_allergen"><img alt="Nut Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-nut.png" /></span>
                <span
                    class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
        </div>
        <div class="dining-menu-allergen-contains">Contains Gluten, Dairy, Egg, Nuts, and Soy</div>
        <div class="menu-dining-menu-modal-ingredients"><strong>Ingredients:</strong> Strawberry, Strawberry Topping (STRAWBERRIES, CORN SYRUP, SUGAR, HIGH FRUCTOSE CORN SYRUP, WATER, MODIFIED CORN STARCH, PROPYLENE GLYCOL, XANTHAN GUM, CITRIC ACID, RED #40), Peach Pie Filling (PEACH SLICES, HIGH FRUCTOSE
            CORN SYRUP, CORN SYRUP, WATER, FOOD STARCH-MODIFIED (CORN), SUGAR, SALT, CITRIC ACID, POTASSIUM SORBATE AND ASCORBIC ACID (PRESERVATIVE), YELLOW # 5 AND YELLOW # 6 COLOR ADDED. ), Blueberry Pie Filling (A BLEND OF WILD AND CULTIVATED BLUEBERRIES,
            WATER, HIGH FRUCTOSE CORN SYRUP, FOOD STARCH-MODIFIED (CORN), CORN SYRUP, NATURAL FLAVOR, SALT, POTASSIUM SORBATE (PRESERVATIVE), CITRIC ACID AND SPICE.), Whipped Topping (WATER, HIGH FRUCTOSE CORN SYRUP, HYDROGENATED VEGETABLE OIL (PALM,
            PALM KERNEL, COCONUT AND/OR COTTONSEED), CONTAINS LESS THAN 2% OF THE FOLLOWING: CARBOHYDRATE GUM, SUGAR, POLYSORBATE 60, POLYGLYCEROL ESTERS OF FATTY ACIDS, SALT, SODIUM ALGINATE, SOY LECITHIN, ARTIFICIAL FLAVOR, SODIUM CITRATE, NATURAL FLAVOR,
            COLORED WITH (TURMERIC AND ANNATTO EXTRACTS). CONTAINS: SOY), Crepes (WATER, CREPE MIX (ENRICHED WHEAT FLOUR [MALTED BARLEY FLOUR, NIACIN, IRON, THIAMINE MONONITRATE, RIBOFLAVIN, FOLIC ACID], DEXTROSE, CANOLA OIL, DRIED EGG WHITES, SUGAR,
            UNBLEACHED LECITHIN, SALT). ), Almond Slices, Orange, Butter (PASTEURIZED CREAM, SALT ), Confection Sugar (SUGAR, CORN STARCH), Cinnamon Stick</div>
    </div>
</div>
