<div class="dining-menu-item-modal-title">
    <div>
        <h3>Portobello Mushroom Stuffed with Spinach</h3></div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="menu-dining-menu-modal-nutrition">
            <h4>Nutrition Facts</h4>
            <div class="menu-nutrition-row"><strong>Serving Size:</strong> <span class="menu-nutrition-row-value">SERVING 1/2 Mushroom</span></div>
            <div class="menu-nutrition-row"><strong>Calories</strong> <span class="menu-nutrition-row-value">235.1</span></div>
            <div class="menu-nutrition-row"><strong>Protein</strong> <span class="menu-nutrition-row-value">4.6</span></div>
            <div class="menu-nutrition-row"><strong>Total Carbohydrate</strong> <span class="menu-nutrition-row-value">4.1</span></div>
            <div class="menu-nutrition-row"><strong>Total Fat</strong> <span class="menu-nutrition-row-value">23.8</span></div>
            <div class="menu-nutrition-row"><strong>Saturated Fat</strong> <span class="menu-nutrition-row-value">3.5</span></div>
            <div class="menu-nutrition-row"><strong>Trans Fat</strong> <span class="menu-nutrition-row-value">0</span></div>
            <div class="menu-nutrition-row"><strong>Fiber</strong> <span class="menu-nutrition-row-value">1.5</span></div>
            <div class="menu-nutrition-row"><strong>Sodium</strong> <span class="menu-nutrition-row-value">172.4</span></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="dining-menu-item-allergens"><span class="dining-menu-dietary-icon" data-diet="vegetarian_trait"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved_trait"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span>
            <span
                class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span>
        </div>
        <div class="dining-menu-allergen-contains">Contains Dairy</div>
        <div class="dining-menu-allergen-contains dining-menu-allergen-contains-traits">Vegetarian and Wolf Approved</div>
        <div class="menu-dining-menu-modal-ingredients"><strong>Ingredients:</strong> Portabello Mushroom , Blended Olive Oil (Olive oil, canola oil), Spinach, Yellow Onion, Mozzarella Cheese (PASTEURIZED PART SKIM-MILK, CHEESE CULTURES, SALT, ENZYMES.), Pesto (SOYBEAN OIL, PESTO MIX (PARMESAN AND
            ROMANO CHEESE (PART SKIM MILK, CHEESE CULTURE, SALT, ENZYMES), SPICES, SALT, BASIL, SUGAR, GARLIC, ASCORBIC ACID AND CITRIC ACID (PRESERVATIVES), NATURAL FLAVOR), WATER, OLIVE OIL, CITRIC ACID, POTASSIUM SORBATE AND SODIUM BENZOATE (PRESERVATIVES),
            LACTIC ACID. CONTAINS: MILK.), Parmesan Cheese (PASTEURIZED PART-SKIM MILK, CHEESE CULTURES, SALT, ENZYMES AND POWDERED CELLULOSE (ANTI-CAKING AGENT).), Balsamic Vinegar (WINE VINEGAR, CONCENTRATED AND COOKED GRAPE, CARAMEL), Garlic (GARLIC,
            WATER, CITRIC ACID (PRESERVATIVE). CONTAINS NATURALLY OCCURRING SULFITES.), Salt (SALT, SODIUM SILICOALUMINATE, DEXTROSE, POTASSIUM IODIDE), Black Pepper, Nutmeg</div>
    </div>
</div>
