<div class="dining-menu-item-modal-title">
    <div>
        <h3>Shredded Hash Browns</h3></div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="menu-dining-menu-modal-nutrition">
            <h4>Nutrition Facts</h4>
            <div class="menu-nutrition-row"><strong>Serving Size:</strong> <span class="menu-nutrition-row-value">SERVING (1/2 cup)</span></div>
            <div class="menu-nutrition-row"><strong>Calories</strong> <span class="menu-nutrition-row-value">201.2</span></div>
            <div class="menu-nutrition-row"><strong>Protein</strong> <span class="menu-nutrition-row-value">2.3</span></div>
            <div class="menu-nutrition-row"><strong>Total Carbohydrate</strong> <span class="menu-nutrition-row-value">17.4</span></div>
            <div class="menu-nutrition-row"><strong>Total Fat</strong> <span class="menu-nutrition-row-value">13.9</span></div>
            <div class="menu-nutrition-row"><strong>Saturated Fat</strong> <span class="menu-nutrition-row-value">1.1</span></div>
            <div class="menu-nutrition-row"><strong>Trans Fat</strong> <span class="menu-nutrition-row-value">0.1</span></div>
            <div class="menu-nutrition-row"><strong>Fiber</strong> <span class="menu-nutrition-row-value">2.2</span></div>
            <div class="menu-nutrition-row"><strong>Sodium</strong> <span class="menu-nutrition-row-value">511.7</span></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="dining-menu-item-allergens"><span class="dining-menu-dietary-icon" data-diet="vegetarian_trait"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span><span class="dining-menu-dietary-icon" data-diet="vegan_trait"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span>
            <span
                class="dining-menu-dietary-icon" data-diet="wolf_approved_trait"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span>
        </div>
        <div class="dining-menu-allergen-contains dining-menu-allergen-contains-traits">Vegetarian, Vegan, and Wolf Approved</div>
        <div class="menu-dining-menu-modal-ingredients"><strong>Ingredients:</strong> Hashbrowns (POTATOES, SALT, DISODIUM DIHYDROGEN PYROPHOSPHATE (TO PROMOTE COLOR RETENTION), DEXTROSE. ), Canola Oil, Salt (SALT, SODIUM SILICOALUMINATE, DEXTROSE, POTASSIUM IODIDE), White Pepper</div>
    </div>
</div>
