<div class="dining-menu-container dining-menu-container-" data="2017-03-13">
	<div class="dining-menu dining-menu-breakfast">
		<h3 class="dining-menu-meal-desc">Breakfast on Monday, Mar. 13</h3>
		<ul class="location__inpage-tabs">
			<li><a href="#sauces">Sauces</a></li>
			<li><a href="#starch">Starch</a></li>
			<li><a href="#entree">Entree</a></li>
			<li><a href="#salad">Salad</a></li>
			<li><a href="#dessert">Dessert</a></li>
		</ul>
		<div class="location__tags"></div>
		<div class="dining-menu-category dining-menu-category-sauces">
			<a class="anchor" name="sauces" id="sauces"></a>
			<h4>Sauces</h4>
			<ul class="location__meal-category-list">
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_sauces_southern_style_sausage_gravy" href="#?item=1_03132017_breakfast_sauces_southern_style_sausage_gravy">Southern Style Sausage Gravy</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span></span>
				</li>
			</ul>
		</div>
		<div class="dining-menu-category dining-menu-category-starch">
			<a class="anchor" name="starch" id="starch"></a>
			<h4>Starch</h4>
			<ul class="location__meal-category-list">
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_starch_tater_tots" href="#?item=1_03132017_breakfast_starch_tater_tots">Tater Tots</a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span>
						</span>
				</li>
			</ul>
		</div>
		<div class="dining-menu-category dining-menu-category-entree">
			<a class="anchor" name="entree" id="entree"></a>
			<h4>Entree</h4>
			<ul class="location__meal-category-list">
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_entree_bacon" href="#?item=1_03132017_breakfast_entree_bacon">Bacon</a> </span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_entree_buttermilk_biscuit" href="#?item=1_03132017_breakfast_entree_buttermilk_biscuit">Buttermilk Biscuit</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
						<span
						    class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
							</span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_entree_cinnamon_raisin_french_toast" href="#?item=1_03132017_breakfast_entree_cinnamon_raisin_french_toast">Cinnamon Raisin French Toast</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
						<span
						    class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span><span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
							<span
							    class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span>
								</span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_entree_country_smoked_ham" href="#?item=1_03132017_breakfast_entree_country_smoked_ham">Country Smoked Ham</a> <span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_entree_freshly_scrambled_eggs" href="#?item=1_03132017_breakfast_entree_freshly_scrambled_eggs">Freshly Scrambled Eggs</a> <span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_entree_hard_boiled_eggs" href="#?item=1_03132017_breakfast_entree_hard_boiled_eggs">Hard Boiled Eggs</a> <span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_entree_homestyle_grits" href="#?item=1_03132017_breakfast_entree_homestyle_grits">Homestyle Grits</a> <span class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span><span class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span></span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_entree_quaker_oatmeal" href="#?item=1_03132017_breakfast_entree_quaker_oatmeal">Quaker Oatmeal</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span><span class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span>
						<span
						    class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span>
							</span>
				</li>
			</ul>
		</div>
		<div class="dining-menu-category dining-menu-category-salad">
			<a class="anchor" name="salad" id="salad"></a>
			<h4>Salad</h4>
			<ul class="location__meal-category-list">
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_salad_creamy_vanilla_yogurt" href="#?item=1_03132017_breakfast_salad_creamy_vanilla_yogurt">Creamy Vanilla Yogurt</a> <span class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_salad_fresh_cut_cantaloupe" href="#?item=1_03132017_breakfast_salad_fresh_cut_cantaloupe">Fresh Cut Cantaloupe</a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_salad_fresh_cut_grapefruit" href="#?item=1_03132017_breakfast_salad_fresh_cut_grapefruit">Fresh Cut Grapefruit</a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_salad_granola" href="#?item=1_03132017_breakfast_salad_granola">Granola</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="nut_allergen"><img alt="Nut Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-nut.png" /></span>
						<span
						    class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span>
							</span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_salad_orange_wedges" href="#?item=1_03132017_breakfast_salad_orange_wedges">Orange Wedges</a> <span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_salad_tropical_pineapple" href="#?item=1_03132017_breakfast_salad_tropical_pineapple">Tropical Pineapple  </a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
				</li>
			</ul>
		</div>
		<div class="dining-menu-category dining-menu-category-dessert">
			<a class="anchor" name="dessert" id="dessert"></a>
			<h4>Dessert</h4>
			<ul class="location__meal-category-list">
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_dessert_chocolate_cinnamon_coffee_cake" href="#?item=1_03132017_breakfast_dessert_chocolate_cinnamon_coffee_cake">Chocolate Cinnamon Coffee Cake</a> <span class="dining-menu-dietary-icon"
					    data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span><span class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span><span class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
						<span
						    class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
							</span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_dessert_traditional_glazed_doughnut" href="#?item=1_03132017_breakfast_dessert_traditional_glazed_doughnut">Traditional Glazed Doughnut</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
						<span
						    class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
							</span>
				</li>
				<li class=""><a class="dining-menu-item-modal" rel="1_03132017_breakfast_dessert_yates_mill_blueberry_loaf" href="#?item=1_03132017_breakfast_dessert_yates_mill_blueberry_loaf">Yates Mill Blueberry Loaf</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
					<span
					    class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
						<span
						    class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
							</span>
				</li>
			</ul>
		</div>
	</div>
</div>
