{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<div class="container centered">
    <div class="central-square">
        <div class="prefs-header">
            <h3 class="compact-header">Error</h3>
            {% if request.user.is_authenticated %}
            <a class="label label-info text-right" href="{% url 'prefs' %}">Logged in as: {{user}}</a>
            {% else %}
            <a class="label label-info text-right" href="{% url 'home' %}">Log in or sign up</a>
            {% endif %}
        </div>
        <p>Error handling magic link: {{ error }}.</p>
    </div>
</div>
{% endblock %}
