{% extends 'base.html' %}
{% load bootstrap3 %}
{% load cache %}
{% block content %}

<div class="container centered">
    <div class="central-circle centered">
        <h3 class="text-center circle-header">
            NCSU Menu Notifier - Magic Link
        </h3>
        {% bootstrap_messages %}
        <div class="circle-form">
            <p class="text-center">Welcome back!</p>
            <p class="text-center">Use the button below to proceed to the preferences page.</p>
            <form method="POST" action="{{ link.get_absolute_url }}">
                {% csrf_token %}
                {% bootstrap_button "Log me in" button_type="submit" button_class="btn-primary btn-block" %}
            </form>
            <div class="extra-info">
                <p class="text-center">Last login: {{ link.user.last_login }}</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}
