@import 'colors';

#branding h1,
#branding h1 a:link,
#branding h1 a:visited {
  color: $wolfpack-white;
}

#header {
  background-image: radial-gradient(circle, $wolfpack-red, $wolfpack-dark-red);
  border-width: 0;
  color: $wolfpack-white;
}

#user-tools {
  color: $wolfpack-white;
  font-size: 12px;
  font-weight: 500;
}

.module caption {
  background: $wolfpack-dark-red;
}

div.breadcrumbs {
  background-image: radial-gradient(circle, $wolfpack-red, $wolfpack-dark-red);
  border-top: 1px solid $see-through-grey;
}

a:link,
a:visited {
  color: $wolfpack-red;
}

.module h2,
.module caption,
.inline-group h2 {
  background-color: $wolfpack-red;
}

input[type=submit],
input[type=submit].default,
input[type=button] {
  background: $footer-color;

  &:hover,
  &:active,
  &:focus {
    background: $wolfpack-black;
  }
}
