input,
.help-block {
  font-family: Arial, sans-serif;
}

.text-bold {
  font-weight: bold;
}

@mixin main-shadow {
  box-shadow: 0 0 10px $circle-shadow-start, 0 5px 10px $circle-shadow-end;
}

.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.control-label {
  font-size: 16px;

  @media (max-width: 450px), (max-height: 440px) {
    font-size: 14px;
  }
}

hr {
  border-top: 1px solid $circle-shadow-start;
}

.side-by-side {
  display: flex;
}
