@mixin lighten-on-hover($color) {
  &:hover {
    fill: lighten($color, 10);
  }
}

// Each meal name and its corresponding color
$meals: (
  breakfast: darken($wolfpack-dark-red, 10),
  lunch: darken($wolfpack-red, 5),
  dinner: lighten($wolfpack-red, 20),
  other: lighten($wolfpack-red, 30),
);

.chart {
  rect {
    text-align: right;
    color: $wolfpack-white;
    shape-rendering: crispEdges;
  }

  text {
    fill: $wolfpack-white;
    font: 11px UniversRoman,Arial,sans-serif;
    text-anchor: middle;
  }

  // Add a color to each meal
  @each $meal, $color in $meals {
    .#{$meal} > g > rect {
      fill: $color;
      // On hover, lighten the color of that meal by 10%
      &:hover {
        fill: darken($color, 3);
      }
    }
  }
}

.axis {
  text {
    fill: darken($wolfpack-white, 55%);
    font: 11px UniversRoman,Arial,sans-serif;
  }
}

.yaxis {
  text {
    text-anchor: end;
  }
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 12px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // Add color to each block in the legend
  @each $meal, $color in $meals {
    .#{$meal} > div {
      background-color: $color;
      width: 12px;
      height: 12px;
      margin-right: 2px;
    }
  }
}
