body {
  background: radial-gradient(circle, $wolfpack-red, $wolfpack-dark-red);
  background-size: cover;
  margin: 0;
  padding: 0;
}

.centered {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.container {
  min-height: 100vh;
  margin-bottom: 10px;
}

.central-circle {
  @include main-shadow;
  @media (orientation:landscape) {
    width: 98vh;
    height: 98vh;
  }

  @media screen and (orientation:portrait) {
    width: 98vw;
    height: 98vw;
  }

  border-radius: 100%;
  background-color: $wolfpack-white;
  min-width: 350px;
  min-height: 350px;
}

.circle-header {
  padding: 0 8.5vw;
  margin: 12px 0 5px;

  @media (max-width: 550px), (max-height: 440px){
    font-size: 18px;
  }

  @media (min-width: 720px){
    padding: 0 30px 5px;
  }
}

.compact-header {
  margin-top: 0;
}

.help-block {
  margin: 0;
}

.circle-form {
  width: 70%;

  .form-group {
    @media (max-width: 550px), (max-height: 440px){
      font-size: 12px;
    }

    @media (max-width: 450px), (max-height: 440px){
      font-size: 11px;
      margin-bottom: 8px;
    }
  }

  .form-control {
    @media (max-width: 450px){
      font-size: 11px;
      height: 30px;
    }
  }
  .btn {
    line-height: 1.4;
  }
}

.extra-info {
  text-align: center;
  color: darken($wolfpack-white, 55%);
  margin-top: 5px;
  @media (max-width: 550px), (max-height: 440px){
    font-size: 12px;
  }

  @media (max-width: 450px), (max-height: 440px){
    font-size: 11px;
  }
}

// Styles for boostrap messages
.alert {
  margin: 0 25px 10px;
  padding: 10px;
  font-size: 12px;
}

.alert-dismissable {
  padding-right: 20px;
}

.close {
  margin-right: 10px;
}
