<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Signup Success</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#cc0000">
    <meta name="description" content="Get notified when your favorite foods are being served at the NCSU dining hall.">
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ link }}">
    <link href="/static/bootstrap.css" rel="stylesheet" media="screen" type="text/css">
    <link rel="stylesheet" href="/static/all.css">
    <link rel="shortcut icon" type="image/x-icon" src="/favicon.ico">
    <script>
    function copyLink() {
      navigator.clipboard.writeText('{{ link }}');
      document.querySelector("#rss-link-copy").innerHTML = "Copied!";
      setTimeout(() => document.querySelector("#rss-link-copy").innerHTML = "Copy", 1500);
    }
    </script>
</head>
<body>
  <div class="container centered">
    <div class="central-circle centered">
      <h3 class="text-center circle-header">Add this link to your RSS reader</h3>
      <div class="input-group circle-form">
        <input type="text" id="rss-link" style="cursor: text;" class="form-control" size="45" aria-label="RSS feed link" value="{{ link }}" readonly/>
        <span class="input-group-btn">
          <button id="rss-link-copy" class="btn btn-default" type="button" onclick="copyLink()">Copy</button>
        </span>
      </div>
      <p class="help-block text-center">
        Don't have an RSS reader app yet?
        <br>
        I recommend <a target="_blank" rel="noopener noreferrer" href="https://apps.apple.com/us/app/netnewswire-rss-reader/id1480640210">NetNewsWire</a> (iOS)
        <br>or <a target="_blank" rel="noopener noreferrer" href="https://newsblur.com/">Newsblur</a> (cross-platform).
        <br><br>
        See the <a target="_blank" rel="noopener noreferrer" href="/">home page</a> for more instructions.
      </p>
    </div>
  </div>
  <footer>
    <a class="text-center" href="/">About</a>
    <div class="separator"></div>
    <a class="text-center" href="/changelog/">Change Log</a>
    <div class="separator"></div>
    <a class="text-center" href="https://gitlab.com/mac-chaffee/ncsu-menu-notifier">See the Code</a>
    <div class="separator"></div>
    <a class="text-center" href="mailto:bugs@ncsu-mn.com?subject=Bug%20Report">Report a Bug</a>
  </footer>
</body>
</html>
